body{
    
    font-family: 'Londrina Solid', cursive;
    
    background-image: url(../imagenes/fondo-contenido.png);
    background-repeat: no-repeat;
    
}
#logo{
    float: left;
    
    margin-left: -20px;
    padding-left: 80px;
  padding-top: 30px;
    margin-top: -20px;
    margin-right: -20px;
    padding-bottom: 50px;
    color: #D9F5F4;

    
}


#nav{
    position: sticky;
    opacity: 0,3;
    top: -120px
    
   
}


#nav #menu1>li { 
list-style: none;
background: #068397;
border-right-style: outset;



}
#nav #menu1>li{
    padding: 50px;
    padding-bottom: 7px;
    padding-top: 10px;
    float: left;
    margin-top: -30px;
    
    

    }
#nav #menu1>li>a{
    font-size: 18px;
    font-family: 'Reggae One', cursivo;
    color:white;
    text-decoration:none;
    
}
#nav #menu1>li:hover{
    background-color: #75BFE4;
    cursor: pointer;
    text-decoration: underline;
}


h3, p{
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Londrina Solid', cursive;
    }
p{
    font-size: 20px;
}
h3{
    font-size: 25px;
}