#titulo{
    list-style: none;
    background: #41E573;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -50px;
    margin-top: -20px;
    margin-right: -20px;
    color: #EEF6B2;
    
    
}

#nav #menu1>li { 
list-style: none;
background: #405FD6;


}
#nav #menu1>li{
    padding: 60px;
    padding-bottom: 7px;
    padding-top: 7px;
    float: left;
    margin-top: -30px;
    
    

    }
#nav #menu1>li>a{
    font-size: 18px;
    font-family: sans-serif;
    color:white;
    text-decoration:none;
    
}
#nav #menu1>li:hover{
    background-color: #75BFE4;
    cursor: pointer;
}
#titulo{
    font-family: 'Londrina Solid', cursive;
   text-shadow: -2px -2px 1px black, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px black;;
   font-size: 30px;
   text-align: center;
}
.cuadros{
    margin-left: 80px;
    font-family: 'Londrina Solid', cursive;
}