p{
    text-align: center;
color: black;
background-color: blanchedalmond;
width: 50%;
font-family: 'Londrina Solid', cursive;
margin: 50px;


}
h3{
    text-align: center;
color: black;
background-color: blanchedalmond;
width: 50%;
margin: 50px;

}
body{
    
    font-family: 'Londrina Solid', cursive;
}
#titulo{
    list-style: none;
    
    
}

#nav #menu1>li { 
list-style: none;
background: #405FD6;


}
#nav #menu1>li{
    padding: 60px;
    padding-bottom: 7px;
    padding-top: 7px;
    float: left;
    
    

    }
#nav #menu1>li>a{
    font-size: 18px;
    font-family: sans-serif;
    color:white;
    text-decoration:none;
    
}
#nav #menu1>li:hover{
    background-color: #75BFE4;
    cursor: pointer;
}