
p{
color: white;

width: 50%;
font-family: 'Londrina Solid', cursive;
margin-left: 110px;


}
h3{
color: white;

width: 50%;
margin-left: 110px;

}
body{
    
    font-family: 'Londrina Solid', cursive;
    
    background-image: url(https://raw.githubusercontent.com/marcosrivasr/introduccion-html-css/master/Archivos%20iniciales/img/bradcam.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90vh;
}

#logo{
    float: left;
    
    margin-left: -20px;
    background: rgb(100);
    padding-left: 80px;
  padding-top: 40px;
    margin-top: -20px;
    margin-right: -20px;
    padding-bottom: 50px;
    color: #D9F5F4;
    

    
}

#nav{
    position: sticky;
    opacity: 0,3;
    top: -160px
    
   
}

#nav #menu1>li { 
list-style: none;
background: #068397;
border-right-style: outset;




}
#nav #menu1>li{
    padding: 50px; 
    padding-bottom: 6px;
    padding-top: 10px;
    float: left;
    margin-top: -30px;
    
    

    }
#nav #menu1>li>a{
    font-size: 18px;
    font-family: 'Reggae One', cursivo;
    color:white;
    text-decoration:none;
    
}
#nav #menu1>li:hover{
    background-color: #75BFE4;
    cursor: pointer;
    text-decoration: underline;

}

  
   
h2{
    text-align: center;
    color: black;
    
    width: 50%;
    margin-left: 80px;
}

