#logo{
    float: left;
    
    margin-left: -20px;
    background: #41E573;
    padding-left: 50px;
  padding-top: 30px;
    margin-top: -20px;
    margin-right: -20px;
    padding-bottom: 60px;
    color: #D9F5F4;

    
}
#nav #menu1>li { 
list-style: none;
background: #405FD6;


}
#nav #menu1>li{
    padding: 55px;
    padding-bottom: 7px;
    padding-top: 10px;
    float: left;
    margin-top: -30px;
}
#nav #menu1>li>a{
    font-size: 20px;
    font-family: sans-serif;
    color:white;
    text-decoration:none;
    
}
#nav #menu1>li:hover{
    background-color: #75BFE4;
    cursor: pointer;
}

body{
    font-family: 'Londrina Solid', cursive;
    
}
.tabla1{
    margin-left: 120px;
}
.tabla2{
    margin-left: 300px;
}
.tabla3{
    margin-left: 300px;
}