
h1{ 

    margin-top: 50px;
    font-family: 'Akaya Kanadaka', cursive;
}
body{
    margin-left: 90px;
    margin-right: 90px;
    font-family: 'Londrina Solid', cursive;
}
table{ 
    width: 90%;
    
    }