body{
    
    font-family: 'Londrina Solid', cursive;
   background-image: url(../imagenes/fondooooooo.png);
    background-repeat: no-repeat;
    
    
}

#logo{
    float: left;
    
    margin-left: -20px;
    background: rgb(100);
    padding-left: 80px;
  padding-top: 40px;
    margin-top: -20px;
    margin-right: -20px;
    padding-bottom: 50px;
    color: #D9F5F4;
      
}
#nav{
    position: sticky;
    opacity: 0,3;
    top: -160px
    
   
} 


p{
color: white;

width: 50%;
font-family: 'Londrina Solid', cursive;
margin-left: 110px;

}
h2{
    text-align: center;
    color: black;
    
    width: 50%;
    margin-left: 80px;
}
h3{
color: black;

width: 50%;
margin-left: 110px;

}



#menu1>li { 
list-style: none;
background: #068397;
border-right-style: outset;




}

#nav #menu1>li{
    padding: 50px; 
    padding-bottom: 6px;
    padding-top: 10px;
    float: left;
    margin-top: -30px;
    
    

    }
    
#nav #menu1>li>a{
    font-size: 18px;
    font-family: 'Reggae One', cursivo;
    color:white;
    text-decoration:none;
    
}

#nav #menu1>li:hover{
    background-color: #75BFE4;
    cursor: pointer;
    text-decoration: underline;
    

}

 
tr{
    margin: 15px;
  padding: 15px;
  border-collapse: collapse;
  background-color: #FBFDB0  ;


}
td{
    margin: 15px;
  padding: 15px;
  border: solid;
  color: #003841;

 
}
#horario{
    margin-left: 68%;
}
table{
     margin-left: 65%;
     
      
  }  

#juntos{
    margin-left: 25%;
}